.comments, .add-comment{
    padding: 20px;
}

.submit-button{
    border: none;
    color: black;
    padding: 15px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
  }

.name{
    font-size: 16px;
    padding-top: 20px;
}

.date{
    font-size: 12px;
}

.comment-content{
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}