*{
  box-sizing: border-box;
  padding:0;
  margin:0;

}

.without-navbar{
  background-color: white;
}


.blog{
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
  margin-top: 100px;
}

.blog-post{
  background-color: rgb(202, 201, 201);
  width: 500px;
  height: 600px;
  margin:20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.blog-post img{
  width:auto;
  height:300px;
  margin: auto;
}

.content{
  padding:16px;
}

.image{
  display: flex;
  justify-content: center;
}

h1, .about{
  text-align: center;
}