.subject {
    color: black;
    letter-spacing: -0.02em;
    line-height: 30px;
    font-style: normal;
    font-size: 18px;
  }

.content {
    font-weight: 600;
    line-height: 32px;
    color: black;
    font-size: 16px;
    max-width: 800px;

  }

.blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 200px;
    overflow-y: scroll;
    margin-top: 50px;
    width: 700px;
  }

.header{
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
}

.footer{
  padding-bottom: 0;
}

.container{
  padding-bottom: 40px;
}