*{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.navdiv{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position:fixed;
}
li{
    list-style: none;
    display: inline-block;
}
li a {
    color: black; 
    font-size: 25px;
    font-weight: 400;
    margin-right: 25px;
    border-radius: 10px;
}
img{
    height: 62px;
}